<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubhouse - Sign Up</title>
</head>
<body>
    <h1>Clubhouse</h1>
    <h2>Sign Up</h2>
    <% if (message) { %>
        <div><%= message %></div>
    <% } %>
    <form action="" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" minlength="2" maxlength="15" required />
        <label for="password">Password</label>
        <input type="password" name="password" minlength="2" maxlength="15" required />
        <label for="confirm-password">Confirm Password</label>
        <input type="password" name="confirm-password" minlength="2" maxlength="15" required />
        <button>Sign Up</button>
    </form>
</body>
</html>